@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@import "tailwindcss";

/* koi bhi element screen se bahar na nikle */
* {
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
@import "tailwindcss";

/* Google Font Definition */
@theme {
  --font-sans: 'Outfit', sans-serif;
  --font-heading: 'Fredoka', sans-serif;
}

/* Base Font Enforce */
body {
  font-family: 'Outfit', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka', sans-serif;
}